ul{
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: antiquewhite;
    border: 2px solid black;
    padding: 5px 5px;
    list-style-type: none;
    position: fixed;
    overflow: auto;
}
li{
    display: list-item;  
    float: left;
    margin: 10px 10px;
    font-size: large;
}