#nav a{
    position: absolute;
    left: -80px;
    transition: 0.3s;
    padding: 15px;
    width: 100px;
    text-decoration: none;
    font-size: 15px;
    color: white;
    border-radius: 0 5px 5px 0;
}
#about{
    /* font-size: small; */
    top: 20px;
    background-color: #04AA6D;
}
#html{
    /* font-size: small; */
    top: 80px;
    background-color: #2196F3
}
#css{
    /* font-size: small; */
    top: 140px;
    background-color: #f44336;
}
#bootstrap{
    /* font-size: small; */
    top: 200px;
    background-color: #555;
}
#nav a:hover{
    left: 0;
}